.line {
    cursor: pointer;
    position: relative;
}

.line::after {
    content: '';
    width: 0;
    height: 2px;
    background: linear-gradient(to right, rgb(104, 103, 103), #c8c4c4, white);
    position: absolute;
    left: 0px;
    top: 30px;
    transition: 0.4s;
}

.line:hover::after {
    width: 100%;
}

.helps {
    display: block;
    padding: 5px;
    color: #817d7d;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    white-space: nowrap;
}

.helpss {
    display: block;
    padding: 2px 20px;
    color: #817d7d;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    white-space: nowrap;
}

.helps:hover {
    color: white;
}

.divide {
    display: flex;
    gap: 15px
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 50px;
    object-fit: cover;
}

.divider {
    height: 30px;
    width: 2px;
    color: #c8c4c4;
    background-color: #c8c4c4;
    margin: 0 10px;
}

.iconsss {
    /* fontSize: 20px;
    color: rgb(120, 120, 120);
    margin: 10px; */
    font-size: 20px;
    color: rgb(120, 120, 120);
    margin: 10px;
}

.iconsss:hover {
    scale: 1.2;
    color: #c8c4c4;
}

.pdfs {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.ppdfs {
    display: flex;
}

/* color: 'white',
marginTop: '30px',
fontSize: '17px',
border: '1 px solid gray' */

.para {
    color: white;
    font-size: 17px;
    margin-left: 25px;
}

.iison {
    color: red;
    display: none;
    font-size: 24px;
    margin-bottom: 12px;
}

.iisons {
    color: whitesmoke;
    font-size: 24px;
    margin-bottom: 12px;
    display: none;
}

.deletedialog {
    border: 1px solid rgb(171, 169, 169);
    padding: 20px 50px;
    width: 300px;
    border-radius: 15px;
    z-index: 1001;
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    background-color: #201f1f;
}
.deletedialogg {
    border: 1px solid rgb(171, 169, 169);
    padding: 20px 50px;
    width: 400px;
    border-radius: 15px;
    z-index: 1001;
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    background-color: #201f1f;
}

.process {
    border: 1px solid rgb(171, 169, 169);
    padding:30px 25px;
    width: 200px;
    border-radius: 15px;
    z-index: 1001;
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    background-color: #201f1f;
    text-align: center;
}

.processname{
    font-size: 20px;
}

.delte_name {
    font-size: 20px;
    text-align: center;
}

.dialogbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.dialogbtnn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.cancel {
    border: 1px solid rgb(174, 171, 171);
    padding: 15px;
    border-radius: 10px;
    background-color: #363535;
}

image {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


@keyframes gradientshift {
    0% {
        background-position: 0% 70%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 70%;
    }
}